<section class="bg-white">
  <div class="relative bg-gray-50 pt-16 pb-32 overflow-hidden">
    <div class="relative">
      <div class="text-center mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <h1 class="text-4xl tracking-tight font-extrabold text-gray-900 sm:text-5xl md:text-6xl">
          <span class="block">Bienvenue à DocSecuHubs</span>
          <span class="block text-indigo-600">Votre hub sécurisé pour documents</span>
        </h1>
        <p class="mt-6 max-w-lg mx-auto text-center text-xl text-gray-500 sm:max-w-3xl">
          Stockez, partagez et gérez vos documents en toute sécurité et confidentialité.
        </p>
        <div class="mt-10 flex justify-center">
          <a routerLink="about" class="bg-indigo-600 hover:bg-indigo-700 text-white px-8 py-3 rounded-md text-base font-medium">En savoir plus</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Feature section -->
  <div class="bg-white py-16 sm:py-24">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <h2 class="text-3xl font-extrabold text-gray-900 text-center">Pourquoi choisir DocSecuHubs?</h2>
      <div class="mt-10 space-y-12">
        <div class="flex flex-wrap justify-center gap-8">
          <!-- Feature 1 -->
          <div class="flex flex-col items-center p-6 bg-gray-100 rounded-lg shadow">
            <div class="h-12 w-12 bg-indigo-500 rounded-md flex items-center justify-center">
              <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" strokeWidth="2" d="M5 13l4 4L19 7" />
              </svg>
            </div>
            <h3 class="mt-5 text-lg font-medium text-gray-900 text-center">Sécurité Maximale</h3>
            <p class="mt-2 text-base text-gray-500 text-center">
              Cryptage avancé et authentification à deux facteurs pour sécuriser vos données.
            </p>
          </div>
          <!-- Feature 2 -->
          <div class="flex flex-col items-center p-6 bg-gray-100 rounded-lg shadow">
            <div class="h-12 w-12 bg-indigo-500 rounded-md flex items-center justify-center">
              <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path strokeLinecap="round" strokeLinejoin="round" strokeWidth="2" d="M9 19V6l-2 2"/>
              </svg>
            </div>
            <h3 class="mt-5 text-lg font-medium text-gray-900 text-center">Facile à Utiliser</h3>
            <p class="mt-2 text-base text-gray-500 text-center">
              Interface utilisateur intuitive pour une gestion de documents sans effort.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
