<section class="bg-gray-100 flex items-center justify-center h-screen">
  <div class="bg-white p-8 rounded-lg shadow-lg max-w-sm w-full">
    <h1 class="text-2xl font-semibold text-center text-gray-800 mb-6">S'inscrire à DocSecuHubs</h1>
    <form>
      <div class="mb-4">
        <label class="block text-sm font-medium text-gray-700" for="email">Email</label>
        <input
          class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
          id="email" name="email"
          placeholder="votre-email@exemple.com"
          type="email">
      </div>
      <div class="mb-6">
        <label class="block text-sm font-medium text-gray-700" for="password">Mot de passe</label>
        <input
          class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
          id="password" name="password"
          placeholder="Entrez votre mot de passe"
          type="password">
      </div>
      <div class="mb-6">
        <label class="block text-sm font-medium text-gray-700" for="password">Confirmation du mot de passe</label>
        <input
          class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
          id="password-confirm" name="password-confirm"
          placeholder="Entrez votre mot de passe"
          type="password">
      </div>
      <div class="flex items-center justify-between mb-6">
        <div class="flex items-center">
          <input class="h-4 w-4 text-indigo-600 focus:ring-indigo-500 border-gray-300 rounded" id="remember-me"
                 name="remember-me"
                 type="checkbox">
          <label class="ml-2 block text-sm text-gray-900" for="remember-me">
            Se souvenir de moi
          </label>
        </div>
      </div>
      <button (click)="processForm()"
              class="w-full bg-indigo-600 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
              type="submit">
        Se connecter
      </button>
    </form>
  </div>
</section>
